doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1")

    block defaultStyle
      link(rel='stylesheet', href='/css/style.css')
      // ink(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')


    block defaultScripts
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")

    block scripts

  body
    block content
